<h3>Gestion Usuarios</h3>
<p>Gestione sus usuarios.</p>

<br>

<a routerLink="/menu/crear-raza">
  <button pButton label="Crear raza" icon="pi pi-check" class="ui-button-success" iconPos="left"></button>
</a>

<br>
<br>

<p-table [value]="usuarios">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let columna of columnas">
        {{columna.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-raza>
    <tr>
      <td *ngFor="let columna of columnas">
        {{raza[columna.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>

<table>
  <!-- tr -> table row  -->
  <tr>
    <!-- th -> table header  -->
    <th> Identificador</th>
    <th> Nombre</th>
    <th> Accion</th>
  </tr>
  <!-- tr -> table row  -->
  <tr *ngFor="let usuario of usuarios">
    <td> {{usuario.id}}</td>
    <td> {{usuario.nombre}}</td>
    <td>
      <!-- Event Binding (nombreEvento)="funcionEnLaClase()"  -->
      <button (click)="eliminar(usuario)">
        Eliminar
      </button>
      <!-- Property Binding [propiedad] Js    -->
      <a [routerLink]="
      ['/menu','ver-usuario',usuario.id]">
        <!--
        /menu/ver-usuario/usuario.id
        url -> arreglo
        ['/menu','ver-usuario',usuario.id]
         -->
        <button>
          Ver
        </button>
      </a>

      <a [routerLink]="
      ['/menu','actualizar-raza',usuario.id]">
        <button>
          Actualizar
        </button>
      </a>

    </td>
  </tr>

</table>

<!-- INTERPOLACION -> {{nombrePropiedad}} o {{nombreFuncion}}  -->

<!-- DIRECTIVAS -->
<!-- *ngFor -> ITERA UN ARREGLO -->






