<h3>Gestion Usuarios</h3>
<p>Gestione sus usuarios.</p>


<a routerLink="/menu/crear-raza">
  <button>Crear raza</button>
</a>

<table>
  <!-- tr -> table row  -->
  <tr>
    <!-- th -> table header  -->
    <th> Identificador</th>
    <th> Nombre</th>
    <th> Accion</th>
  </tr>
  <!-- tr -> table row  -->
  <tr *ngFor="let usuario of usuarios">
    <td> {{usuario.id}}</td>
    <td> {{usuario.nombre}}</td>
    <td>
      <!-- Event Binding (nombreEvento)="funcionEnLaClase()"  -->
      <button (click)="eliminar(usuario)">
        Eliminar
      </button>
      <!-- Property Binding [propiedad] Js    -->
      <a [routerLink]="
      ['/menu','ver-usuario',usuario.id]">
        <!--
        /menu/ver-usuario/usuario.id
        url -> arreglo
        ['/menu','ver-usuario',usuario.id]
         -->
        <button>
          Ver
        </button>
      </a>

      <a [routerLink]="
      ['/menu','actualizar-raza',usuario.id]">
        <button>
          Actualizar
        </button>
      </a>

    </td>
  </tr>

</table>

<!-- INTERPOLACION -> {{nombrePropiedad}} o {{nombreFuncion}}  -->

<!-- DIRECTIVAS -->
<!-- *ngFor -> ITERA UN ARREGLO -->






