<h3>Gestion Usuarios</h3>
<p>Gestione sus usuarios.</p>

<br>

<a routerLink="/menu/crear-raza">
  <button pButton
          label="Crear raza"
          icon="pi pi-check"
          class="ui-button-success"
          iconPos="left"></button>
</a>

<br>
<br>


<p-chart type="line" [data]="data"></p-chart>



<p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="https://www.imagen.com.mx/assets/img/imagen_share.png">
  </p-header>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>


<p-table [value]="usuarios" [paginator]="true" [rows]="1">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let columna of columnas">
        {{columna.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-raza>
    <tr>
      <td *ngFor="let columna of columnas">

        <div *ngIf="columna.field==='id'">

          <div *ngIf="columna.header=='Identificador'">
            {{raza[columna.field]}}
          </div>

          <div *ngIf="columna.header=='Acciones'">

            <button pButton
                    label="Eliminar"
                    class="ui-button-danger"
                    (click)="eliminar(raza)">

            </button>
            <!-- Property Binding [propiedad] Js    -->
            <a [routerLink]="['/menu','ver-usuario',raza.id]">
              <!--
              /menu/ver-usuario/usuario.id
              url -> arreglo
              ['/menu','ver-usuario',usuario.id]
               -->
              <button pButton
                      label="Ver"
                      class="ui-button-secondary">
              </button>
            </a>

            <a [routerLink]="['/menu','actualizar-raza',raza.id]">
              <button pButton
                      label="Actualizar"
                      class="ui-button-warning">
              </button>
            </a>

          </div>

        </div>

        <div *ngIf="columna.field!=='id'">

          {{raza[columna.field]}}

        </div>


      </td>
    </tr>
  </ng-template>
</p-table>


<table>
  <!-- tr -> table row  -->
  <tr>
    <!-- th -> table header  -->
    <th> Identificador</th>
    <th> Nombre</th>
    <th> Accion</th>
  </tr>
  <!-- tr -> table row  -->
  <tr *ngFor="let usuario of usuarios">
    <td> {{usuario.id}}</td>
    <td> {{usuario.nombre}}</td>
    <td>
      <!-- Event Binding (nombreEvento)="funcionEnLaClase()"  -->
      <button (click)="eliminar(usuario)">
        Eliminar
      </button>
      <!-- Property Binding [propiedad] Js    -->
      <a [routerLink]="
      ['/menu','ver-usuario',usuario.id]">
        <!--
        /menu/ver-usuario/usuario.id
        url -> arreglo
        ['/menu','ver-usuario',usuario.id]
         -->
        <button>
          Ver
        </button>
      </a>

      <a [routerLink]="
      ['/menu','actualizar-raza',usuario.id]">
        <button>
          Actualizar
        </button>
      </a>

    </td>
  </tr>

</table>

<!-- INTERPOLACION -> {{nombrePropiedad}} o {{nombreFuncion}}  -->

<!-- DIRECTIVAS -->
<!-- *ngFor -> ITERA UN ARREGLO -->






