<div class="p-grid">
  <div class="p-col">
    <h1>Usuario</h1>
    <table border="1">
      <tr>
        <td>Nombre</td>
        <td>{{usuarioAActualizar.nombre}}</td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>{{usuarioAActualizar.correo}}</td>
      </tr>
      <tr>
        <td>Fecha de Nacimiento</td>
        <td>{{usuarioAActualizar.fecha_nacimiento}}</td>
      </tr>
    </table>

  </div>
  <div class="p-col">
    <h1>Roles</h1>
  </div>
  <div class="p-col">
    <h1>Agregar Rol</h1>
    <p-dropdown [options]="roles" [(ngModel)]="rolSeleccionado" optionLabel="nombre"></p-dropdown>
    <button pButton
            label="Agregar"
            class="ui-button-info"
            (click)="agregarRol(rolSeleccionado)">
    </button>
  </div>
</div>
