<div>
  <a routerLink="/usuario/crearAuto">
    <button>Crear Auto</button>
  </a>
  <br>
  <div>
    <table>
      <tr>
        <h3>Autos</h3>
      </tr>
      <tr>
        <th> Chasis</th>
        <th> Marca </th>
        <th> Color Uno</th>
        <th> Color Dos</th>
        <th> Nombre del modelo</th>
        <th> Año</th>
        <th> Conductor</th>
      </tr>
      <tr *ngFor="let auto  of autos">
        <th>{{auto.chasis}}</th>
        <th>{{auto.nombreMarca}}</th>
        <th>{{auto.colorUno}}</th>
        <th>{{auto.colorDos}}</th>
        <th>{{auto.nombreModelo}}</th>
        <th>{{auto.anio}}</th>
        <div *ngIf="auto.idConductor">
          <th>{{auto.idConductor.nombres}}</th>
        </div>
        <div *ngIf="!auto.idConductor">
          <th></th>
        </div>
        <th>
          <a [routerLink]="['/usuario','actualizarAuto',auto.id]">
            <button>Actualizar</button>
          </a>
          <button (click)="eliminarAuto(auto.id)" >Eliminar</button>
        </th>
      </tr>
    </table>
  </div>
</div>
