<form #formularioActualizarRaza="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioActualizarRaza)"
>
  <div>
    <p *ngIf="inputNombre.errors">
      Error:
      <span *ngIf="inputNombre.errors.required">
        El nombre es requerido
      </span>
    </p>
    <label for="nombre">Nombre Raza</label>
    <input id="nombre"
           required
           type="text"
           name="nombre"
           [(ngModel)]="nombreRaza"
           #inputNombre="ngModel"
    >
  </div>

  <div>
    <label for="username">Usuario</label>
    <input id="username"
           name="username"
           type="text"
           [(ngModel)]="username"
    >
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password"
           name="password"
           type="password"
           [(ngModel)]="password"
    >
  </div>

  <button [disabled]="formularioActualizarRaza.invalid">
    {{nombreBoton}}
  </button>
</form>
